django>=3.0
pillow
django-crispy-forms
boto3
gunicorn
django-storages
django-ses
python-slugify
django-polymorphic
django-recaptcha
qrcode
python-slugify
pdf2image
iyzipay
django-editorjs

django-nested-admin
#django-nested-inline

#django-ckeditor
#martor
#django-mdeditor
#django-markdownify
#django-tinymce
#django-froala-editor
