{% extends 'base.html' %}
{% load i18n static %}


{% block title %}{{ issue }} - {{ block.super }}{% endblock %}


{% block content %}

<div class="container">

    <div class="row">

        <div class="col-md-12 col-lg-8">
            <h3 class="mt-30">
                {{ issue }}
            </h3>

            <img src="{{ issue.cover.url }}" alt="{{ issue }}">


            <table class="table my-4">
            {% for content in issue.content_set.all %}
                <tr>
                    <td>{{ content }}</td>
                    <td>
                    {% with content.owners.all as owners %}
                        {% if owners %}
                        <span class="color-primary">
                            {% for owner in owners %}
                                <a href="{% url 'content_contributor_list' contributor=owner.contributor.slug %}"><strong>{{ owner }}</strong></a>
                                {% if not forloop.last %} & {% endif %}
                            {% endfor %}
                             &middot;
                        </span>
                        {% endif %}
                    {% endwith %}
                    </td>
                </tr>
            {% endfor %}
            </table>


            <div class="float-left-right text-center mt-40 mt-sm-20">

                <ul class="mb-30 list-li-mt-10 list-li-mr-5 list-a-plr-15 list-a-ptb-7 list-a-bg-grey list-a-br-2 list-a-hvr-primary ">
                    {% for tag in issue.tags.all %}
                    <li><a href="{% url 'content_tag_list' tag=tag.slug %}">{{ tag.name }}</a></li>
                    {% endfor %}
                </ul>
                <ul class="mb-30 list-a-bg-grey list-a-hw-radial-35 list-a-hvr-primary list-li-ml-5">
                    <li class="mr-10 ml-0">{% trans "Share" %}</li>
                    <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank" class="text-info"><i class="ion-social-facebook"></i></a></li>
                    <li><a href="https://www.twitter.com/share?url={{ request.build_absolute_uri }}&text=Solfasol - {{ issue }}" target="_blank" class="text-info"><i class="ion-social-twitter"></i></a></li>
                </ul>

            </div><!-- float-left-right -->

            <div class="brdr-ash-1 opacty-5"></div>

        </div>

        <div class="col-md-6 col-lg-4">
            <div class="pl-20 pl-md-0">

                <h4 class="p-title"><b>{% trans "PAGES" %}</b></h4>

                <div class="row">

                {% for page in issue.page_set.all %}

                <div class="col-md-6">
                    <a class="" href="{{ page.get_absolute_url }}">
                        <img src="{{ page.image.url }}" alt="{{ issue }} - {{ page.number }}">
                    </a>
                </div>

                {% endfor %}

                </div>

            </div><!--  pl-20 -->
        </div><!-- col-md-3 -->


    </div>

</div>

{% endblock %}
