{% extends 'base.html' %}
{% load i18n static %}


{% block title %}{{ page.issue }} - {{ page.number }} - {{ block.super }}{% endblock %}


{% block content %}

<div class="container">

    <div class="row">

        <div class="col-md-12 col-lg-8">

            <h3 class="mt-30">

                <span class="float-right">
                    {% if page.prev %}
                        <a href="{{ page.prev.get_absolute_url }}">
                            &laquo;
                        </a>
                    {% endif %}

                    {% if page.next %}
                        <a href="{{ page.next.get_absolute_url }}">
                            &raquo;
                        </a>
                    {% endif %}
                </span>

                <a href="{{ page.issue.get_absolute_url }}">
                    {% trans "Issue" %} {{ page.issue }}
                </a>
                 - {% trans "Page" %} {{ page.number }}
            </h3>

            <img src="{{ page.image.url }}" alt="{{ page.issue }} - {{ page.number }}">

            <table class="table my-4">
            {% for content in page.content_set.all %}
                <tr>
                    <td>
                        {% if content.publish %}
                            <a href="{{ content.get_absolute_url }}">
                                {{ content }}
                            </a>
                        {% else %}
                            {{ content }}
                        {% endif %}
                    </td>
                    <td>
                    {% with content.owners.all as owners %}
                        {% if owners %}
                        <span class="color-primary">
                            {% for owner in owners %}
                                <a href="{% url 'content_contributor_list' contributor=owner.contributor.slug %}"><strong>{{ owner }}</strong></a>
                                {% if not forloop.last %} & {% endif %}
                            {% endfor %}
                             &middot;
                        </span>
                        {% endif %}
                    {% endwith %}
                    </td>
                </tr>
            {% endfor %}
            </table>


            <div class="float-left-right text-center mt-40 mt-sm-20">

                <ul class="mb-30 list-li-mt-10 list-li-mr-5 list-a-plr-15 list-a-ptb-7 list-a-bg-grey list-a-br-2 list-a-hvr-primary ">
                    {% for tag in content.tags.all %}
                    <li><a href="{% url 'content_tag_list' tag=tag.slug %}">{{ tag.name }}</a></li>
                    {% endfor %}
                </ul>
                <ul class="mb-30 list-a-bg-grey list-a-hw-radial-35 list-a-hvr-primary list-li-ml-5">
                    <li class="mr-10 ml-0">{% trans "Share" %}</li>
                    <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank" class="text-info"><i class="ion-social-facebook"></i></a></li>
                    <li><a href="https://www.twitter.com/share?url={{ request.build_absolute_uri }}&text=Solfasol - {{ page.issue }} - {{ page.number }}" target="_blank" class="text-info"><i class="ion-social-twitter"></i></a></li>
                </ul>

            </div><!-- float-left-right -->

            <div class="brdr-ash-1 opacty-5"></div>

        </div>

        <div class="col-md-6 col-lg-4">
            <div class="pl-20 pl-md-0">

                <h4 class="p-title"><b>{% trans "PAGES" %}</b></h4>

                <div class="row">

                {% for p in page.issue.page_set.all %}

                <div class="col-md-6 {% if p.id == page.id %}border border-danger{% endif %}">
                    <div class="{% if p.id == page.id %}border border-danger{% endif %}">
                        <a href="{{ p.get_absolute_url }}">
                            <img src="{{ p.image.url }}" alt="{{ issue }} - {{ p.number }}">
                        </a>
                    </div>
                </div>

                {% endfor %}

                </div>

            </div><!--  pl-20 -->
        </div><!-- col-md-3 -->


    </div>

</div>

{% endblock %}
