{% extends 'base.html' %}
{% load crispy_forms_tags i18n %}


{% block content %}

	<div class="container my-4">

        <h2 class="text-center">Abonelik ve Destek</h2>

        {% if subscription %}

            <div class="alert alert-success alert-dismissible mb-4 fade show my-4" role="alert">
                Desteğiniz için teşekkürler.
                Bilgilerinizi aldık ve <strong>{{ subscription.email }}</strong> adresine bilgilendirme mesajı gönderdik.
                En kısa zamanda sizinle iletişime geçeceğiz.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <p class="my-4">
                <strong>Abonelik tipi:</strong> {{ subscription.get_type_display }}
            </p>

        {% else %}

            <div class="alert alert-warning alert-dismissible mb-4 fade show my-4" role="alert">
                <strong>Yeni!</strong>
                Solfasol'e artık Patreon'dan aylık ödemelerle de abone ve destek olabilirsiniz!
                <a class="text-primary" href="https://www.patreon.com/solfasol" target="_blank">Tıklayın ...</a>
            </div>

            <p class="my-2 lead">
                Ankara'nın Gayriresmi Gazetesi Solfasol desteğinizle var oluyor. Aboneliğiniz bizim için çok önemli!
            </p>

            <p class="my-2">
                Kredi kartı veya banka havalesi ile ödeme yapabilirsiniz.
                <a href="mailto:abone@gazetesolfasol.com">Eposta</a> veya
                <a href="phone:05370242849">telefonla</a> iletişime geçerek de aboneliğinizi başlatabilirsiniz.
            </p>

            <h4 class="font-weight-bold mt-3">Yıllık abonelik seçenekleri</h4>

            <h5 class="font-weight-bold mt-3">Kredi kartı ile abonelik için seçeneklere tıklayın</h5>

            <p class="my-2">
                <a href="https://iyzi.link/AFY2iA" target="_blank" class="font-weight-bold d-block">Dijital abonelik - 50 TL</a>
                Solfasol'unuz her ay elektronik posta kutunuzda!
            </p>
            <p class="my-2">
                <a href="https://iyzi.link/AFY2Ww" target="_blank" class="font-weight-bold d-block">Yıllık abonelik - 100 TL</a>
                Solfasol'unuz her ay adresinize posta yoluyla ulaştırılır!
            </p>
            <p class="my-2">
                <a href="https://iyzi.link/AFY2eQ" target="_blank" class="font-weight-bold d-block">Destekçi abonelik - 200 TL</a>
                Hem Solfasol'un daha çok kişiye ulaşmasına yardımcı olun hem de Solfasol Ankara Gezilerinde misafirimiz olun.
            </p>
            <p class="my-2">
                <a href="https://iyzi.link/AFY2gw" target="_blank" class="font-weight-bold d-block">Yurtdışı abonelik - 200 TL</a>
                Uzaktayım demeyin, Solfasol dünyanın her yerine ulaşıyor!
            </p>


            <h5 class="font-weight-bold mt-3">Banka havalesi ile abonelik için formu doldurun</h5>

            <p class="my-2">
                Daha sonra aşağıdaki banka hesabına seçtiğiniz abonelik türüne göre ücretinizi göndermenizi rica ediyoruz.
                Faturanız ilk gazetenizle birlikte adresinize gönderilecektir.
            </p>


            <div class="container">

                <div class="row">

                    <form method="post">

                        <input type="hidden" name="next" value="{{ request.GET.next }}">

                        {% csrf_token %}

                        {{ form|crispy }}

                        <button type="submit" class="btn btn-primary">Gönder</button>

                    </form>

                </div>

            </div>

        {% endif %}

        <p class="my-4">
            <strong>EFT ve HAVALE için Banka Hesap Bilgileri</strong>
            <br>
            İŞ BANKASI KÜÇÜKESAT ŞUBESİ
            <br>
            IBAN: TR83 0006 4000 0014 2080 7867 87
            <br>
            Hesap Sahibi: Mehmet Onur Yılmaz SOLFASOL
        </p>

    </div>

{% endblock %}
