{% extends 'base.html' %}
{% load crispy_forms_tags i18n %}


{% block content %}

	<div class="container my-4">

        <h2 class="text-center">Abonelik ve Destek</h2>

        {% if subscription %}

            <div class="alert alert-success alert-dismissible mb-4 fade show my-4" role="alert">
                Desteğiniz için teşekkürler.
                Bilgilerinizi aldık ve <strong>{{ subscription.email }}</strong> adresine bilgilendirme mesajı gönderdik.
                En kısa zamanda sizinle iletişime geçeceğiz.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <p class="my-4">
                <strong>Abonelik tipi:</strong> {{ subscription.get_type_display }}
            </p>

        {% else %}

            <div class="alert alert-warning alert-dismissible mb-4 fade show my-4" role="alert">
                <strong>Yeni!</strong>
                Solfasol'e artık Patreon'dan aylık ödemelerle de abone ve destek olabilirsiniz!
                <a class="text-primary" href="https://www.patreon.com/solfasol" target="_blank">Tıklayın ...</a>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <p class="my-2">
                Ankara'nın Gayriresmi Gazetesi Solfasol desteğinizle var oluyor. Bu yüzden aboneliğiniz bizim için çok önemli.
                Aşağıdaki formu doldurarak veya abone@gazetesolfasol.com adresine aşağıdaki bilgileri içeren bir e-mail göndererek aboneliğinizi başlatabilirsiniz.
            </p>


            <p class="my-2">
                Daha sonra aşağıdaki banka hesabına seçtiğiniz abonelik türüne göre ücretinizi göndermenizi rica ediyoruz.
                Faturanız ilk gazetenizle birlikte adresinize gönderilecektir.
            </p>

            <p class="my-4">
                <em>Uzaktayım diye endişe etmeyin, Solfasol dünyanın her yerine ulaşıyor!</em>
            </p>


            <div class="container">

                <div class="row">

                    <form method="post">

                        <input type="hidden" name="next" value="{{ request.GET.next }}">

                        {% csrf_token %}

                        {{ form|crispy }}

                        <button type="submit" class="btn btn-primary">Gönder</button>

                    </form>

                </div>

            </div>

        {% endif %}

        <p class="my-4">
            <strong>EFT ve HAVALE için Banka Hesap Bilgileri</strong>
            <br>
            İŞ BANKASI KÜÇÜKESAT ŞUBESİ
            <br>
            IBAN: TR83 0006 4000 0014 2080 7867 87
            <br>
            Hesap Sahibi: Mehmet Onur Yılmaz SOLFASOL
        </p>

    </div>

{% endblock %}
